flow.json
[{"id":"4e8accf9.ae4724","type":"tab","label":"EnvirosensorAggregator","disabled":false,"info":""},{"id":"14e6f8e3.a026a7","type":"tab","label":"Here East Twitter","disabled":false,"info":""},{"id":"d87769fb.b92038","type":"tab","label":"Here East Weather","disabled":false,"info":""},{"id":"31787b4c.d13024","type":"websocket-listener","z":"","path":"/ws/envirosensor","wholemsg":"false"},{"id":"998047d0.529da8","type":"websocket-listener","z":"","path":"/ws/functionalspaces","wholemsg":"false"},{"id":"d9ab4ce2.cc9d2","type":"websocket-listener","z":"","path":"/ws/tweet","wholemsg":"false"},{"id":"be1febfc.ab61f8","type":"websocket-listener","z":"","path":"/ws/weather","wholemsg":"false"},{"id":"a95bf79e.356ae8","type":"ibmiot in","z":"4e8accf9.ae4724","authentication":"apiKey","apiKey":"","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"8001","applicationId":"","deviceType":"+","eventType":"+","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":80,"y":60,"wires":[["652530e5.5d28e","b0e714f9.828428","ba588adf.7b2f88"]]},{"id":"652530e5.5d28e","type":"debug","z":"4e8accf9.ae4724","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":250,"y":60,"wires":[]},{"id":"b0e714f9.828428","type":"websocket out","z":"4e8accf9.ae4724","name":"","server":"31787b4c.d13024","client":"","x":300,"y":100,"wires":[]},{"id":"ba588adf.7b2f88","type":"function","z":"4e8accf9.ae4724","name":"Room Mapping","func":"var sensorMap = {\n    sensors:[\n        {\"sensor\": \"8001\", \"room\": \"101\", \"description\": \"Reception\"},\n        {\"sensor\": \"8002\", \"room\": \"G20\", \"description\": \"Auditorium\"},\n        {\"sensor\": \"8003\", \"room\": \"G01\", \"description\": \"Studio\"},\n        {\"sensor\": \"8004\", \"room\": \"127B\", \"description\": \"Project Space\"},\n        {\"sensor\": \"8005\", \"room\": \"G85\", \"description\": \"Corridor\"},\n        {\"sensor\": \"8006\", \"room\": \"126\", \"description\": \"Seminar Room\"},\n        {\"sensor\": \"8007\", \"room\": \"G11\",  \"description\": \"Computer Cluster\"},\n        {\"sensor\": \"8008\", \"room\": \"127\", \"description\": \"Project Space\"},\n        {\"sensor\": \"8009\", \"room\": \"null\", \"description\": \"null\"},\n        {\"sensor\": \"8010\", \"room\": \"109\", \"description\": \"Breakout\"},\n        {\"sensor\": \"8011\", \"room\": \"111\", \"description\": \"Lecture Theatre\"},\n        {\"sensor\": \"8012\", \"room\": \"G20C\", \"description\": \"Seminar (Upper Auditorium\"},\n        {\"sensor\": \"8013\", \"room\": \"G06\", \"description\": \"Office\"},\n        {\"sensor\": \"8014\", \"room\": \"G44\", \"description\": \"Workshop\"},\n        {\"sensor\": \"8015\", \"room\": \"G16\", \"description\": \"Meeting Room\"},\n        {\"sensor\": \"8016\", \"room\": \"G35\", \"description\": \"Fabrication\"},\n        {\"sensor\": \"8017\", \"room\": \"110\", \"description\": \"Lecture Theatre\"},\n        {\"sensor\": \"8018\", \"room\": \"123\", \"description\": \"Computer Cluster\"},\n        {\"sensor\": \"8019\", \"room\": \"G08\", \"description\": \"Breakout\"},\n        {\"sensor\": \"8020\", \"room\": \"null\", \"description\": \"null\"}\n    ]\n};\n\nvar mapData = sensorMap.sensors;\n\nfor (var i in mapData) {\n    \n    if (msg.payload.DeviceID === mapData[i].sensor) {\n    \n        msg.payload.RoomID = mapData[i].room;\n        msg.payload.Description = mapData[i].description;\n        \n        //Create an ordered JSON object and stringify for sending to web server\n        var json = msg.payload;\n        var ordered = JSON.parse(JSON.stringify( json, [\"RoomID\", \"Description\", \"DeviceID\", \"Data\", \"TMP\", \"OPT\", \"BAT\", \"HDT\", \"BAR\", \"HDH\"]));\n        \n        msg.payload = ordered;\n    }\n}\n\nreturn msg;","outputs":1,"noerr":0,"x":280,"y":160,"wires":[["33b92e72.d9b112","f7c760fc.5539f"]]},{"id":"33b92e72.d9b112","type":"websocket out","z":"4e8accf9.ae4724","name":"","server":"998047d0.529da8","client":"","x":510,"y":160,"wires":[]},{"id":"f7c760fc.5539f","type":"debug","z":"4e8accf9.ae4724","name":"","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"false","x":450,"y":220,"wires":[]},{"id":"dd0a5633.0beb18","type":"Twitter Stream","z":"14e6f8e3.a026a7","connection":"","follow":"","topics":"","tweetLimit":"0","onlyVerified":false,"topicRetweets":false,"loadMedia":false,"topicLanguage":"en","debug":false,"name":"","x":110,"y":120,"wires":[["611f7498.438e9c"]]},{"id":"611f7498.438e9c","type":"deduplicate","z":"14e6f8e3.a026a7","name":"","keyproperty":"id","expiry":5,"x":294.2840270996094,"y":120.2131175994873,"wires":[["2a54523.5201aae","8340d27f.281cc"],["10cf8de6.0fe472"]]},{"id":"8340d27f.281cc","type":"debug","z":"14e6f8e3.a026a7","name":"Twitter Debug","active":false,"console":false,"complete":"true","x":491.7840576171875,"y":61.46314716339111,"wires":[]},{"id":"10cf8de6.0fe472","type":"debug","z":"14e6f8e3.a026a7","name":"Duplicate Tweet","active":false,"console":false,"complete":"payload","x":488.9928321838379,"y":187.31888484954834,"wires":[]},{"id":"2a54523.5201aae","type":"function","z":"14e6f8e3.a026a7","name":"tweet processing","func":"tweetID = msg.payload.id_str;\nuserID = msg.payload.user.id_str;\nuserName = msg.payload.user.screen_name;\n\n//Get full text for extended tweets\nif (msg.payload.truncated === true) {\n    tweetText = msg.payload.extended_tweet.full_text;\n} else {\n    tweetText = msg.payload.text;\n}\nmsg.payload = {tweetID: tweetID, userID: userID, userName: userName, tweetText: tweetText};\n\nvar storedTweet = msg.payload;\nflow.set('storedTweet', storedTweet);\n\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":120,"wires":[["521f9c81.989b44","12d76a4.2de1196","a48d99ef.da2708"]]},{"id":"521f9c81.989b44","type":"debug","z":"14e6f8e3.a026a7","name":"Processed Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":730,"y":80,"wires":[]},{"id":"12d76a4.2de1196","type":"cloudant out","z":"14e6f8e3.a026a7","name":"","cloudant":"","database":"here_east_tweets","service":"_ext_","payonly":true,"operation":"insert","x":730,"y":120,"wires":[]},{"id":"a48d99ef.da2708","type":"websocket out","z":"14e6f8e3.a026a7","name":"","server":"d9ab4ce2.cc9d2","client":"","x":720,"y":180,"wires":[]},{"id":"cabe7ede.72c85","type":"websocket in","z":"14e6f8e3.a026a7","name":"","server":"d9ab4ce2.cc9d2","client":"","x":110,"y":280,"wires":[["5106407f.1a1a8"]]},{"id":"5106407f.1a1a8","type":"switch","z":"14e6f8e3.a026a7","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"removeListener","vt":"str"},{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"pong","vt":"str"},{"t":"eq","v":"client connected","vt":"str"},{"t":"eq","v":"tweet received","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":250,"y":280,"wires":[["aa26f263.92db2"],["aa26f263.92db2"],["aa26f263.92db2"],["aa26f263.92db2","4e78a96b.6254e8"],["aa26f263.92db2"]]},{"id":"aa26f263.92db2","type":"debug","z":"14e6f8e3.a026a7","name":"Message In","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":470,"y":280,"wires":[]},{"id":"4e78a96b.6254e8","type":"function","z":"14e6f8e3.a026a7","name":"Retrieve Recent Tweet","func":"var recentTweet = flow.get('storedTweet');\nmsg.payload = recentTweet;\nreturn msg;","outputs":1,"noerr":0,"x":500,"y":320,"wires":[["a48d99ef.da2708","ab94d69f.ea6a78"]]},{"id":"ab94d69f.ea6a78","type":"debug","z":"14e6f8e3.a026a7","name":"Tweet to client","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":720,"y":320,"wires":[]},{"id":"93e944ec.76aa38","type":"inject","z":"d87769fb.b92038","name":"Rate Caller","topic":"","payload":"","payloadType":"date","repeat":"300","crontab":"","once":false,"onceDelay":0.1,"x":110,"y":60,"wires":[["8e8d473f.418f28"]]},{"id":"41824af4.be06e4","type":"wunderground","z":"d87769fb.b92038","name":"","lon":"-0.0241506","lat":"51.5470825","city":"","country":"","x":440,"y":180,"wires":[["b4dedb3.41c7228","1ebef8a9.c43617"]]},{"id":"b4dedb3.41c7228","type":"function","z":"d87769fb.b92038","name":"weather reading","func":"weather = msg.payload.weather;\ntemp = msg.payload.tempc;\nhumidity = msg.payload.humidity;\nicon = msg.data.current_observation.icon;\ncurrenttimeUTC = msg.timestamp;\nlastobservationUTC = msg.time;\n\nmsg.payload = {weather: weather, temp: temp, humidity: humidity, icon: icon, currenttimeUTC: currenttimeUTC, lastobservationUTC: lastobservationUTC};\n\nvar storedWeather = msg.payload;\nflow.set('storedWeather', storedWeather);\n\nreturn msg;","outputs":1,"noerr":0,"x":640,"y":180,"wires":[["fedbc9d6.52d098","ef3e881e.c85448","d73d5b1b.587db8"]]},{"id":"1ebef8a9.c43617","type":"debug","z":"d87769fb.b92038","name":"Wunderground Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":620,"y":240,"wires":[]},{"id":"fedbc9d6.52d098","type":"debug","z":"d87769fb.b92038","name":"Processed Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":850,"y":140,"wires":[]},{"id":"ef3e881e.c85448","type":"cloudant out","z":"d87769fb.b92038","name":"","cloudant":"","database":"here_east_weather","service":"HereEast-Weather-cloudantNoSQLDB","payonly":true,"operation":"insert","x":850,"y":180,"wires":[]},{"id":"8e8d473f.418f28","type":"timestamp","z":"d87769fb.b92038","name":"","x":190,"y":120,"wires":[["1102e6e2.512f89","41824af4.be06e4"]]},{"id":"1102e6e2.512f89","type":"debug","z":"d87769fb.b92038","name":"Timestamp Debug","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":430,"y":120,"wires":[]},{"id":"d73d5b1b.587db8","type":"websocket out","z":"d87769fb.b92038","name":"","server":"be1febfc.ab61f8","client":"","x":840,"y":220,"wires":[]},{"id":"6874d832.94d4c8","type":"switch","z":"d87769fb.b92038","name":"","property":"payload","propertyType":"msg","rules":[{"t":"eq","v":"removeListerner","vt":"str"},{"t":"eq","v":"ping","vt":"str"},{"t":"eq","v":"pong","vt":"str"},{"t":"eq","v":"client connected","vt":"str"},{"t":"eq","v":"weather received","vt":"str"}],"checkall":"true","repair":false,"outputs":5,"x":270,"y":260,"wires":[["1d174658.bda64a"],["1d174658.bda64a"],["1d174658.bda64a"],["1d174658.bda64a","3cbedaff.120e66"],["1d174658.bda64a"]]},{"id":"5e8edbc4.2f7fc4","type":"websocket in","z":"d87769fb.b92038","name":"","server":"be1febfc.ab61f8","client":"","x":100,"y":260,"wires":[["6874d832.94d4c8"]]},{"id":"1d174658.bda64a","type":"debug","z":"d87769fb.b92038","name":"Message In","active":false,"tosidebar":true,"console":false,"tostatus":false,"complete":"true","x":450,"y":340,"wires":[]},{"id":"3cbedaff.120e66","type":"function","z":"d87769fb.b92038","name":"Retrieve Recent Weather","func":"var recentWeather = flow.get('storedWeather');\nmsg.payload = recentWeather;\nreturn msg;","outputs":1,"noerr":0,"x":610,"y":280,"wires":[["d73d5b1b.587db8"]]}]